.header {
  color: #333px;
  padding: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: fixed;
  font-family: helvetica;
  font-size: 14px;
  h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  h3 {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 400;
  }
}


ul {
  list-style-type: none;
  padding-left: 0;
}

li {
margin: 0 1px;
}

li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #666;
  }
}

.min-link a {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 300;
}

.top-link {
  margin-top: 0px
}

.bottom-link {
  margin-top: 20px;
}
