body {
  font-family: sans-serif;
  min-height: 100vh;
}

.App {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: left;
  margin-top: 0px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
